#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 16em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #19d652aa);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* top nav section start  */
.top-nav {
  background-color: #6e6e6e;
  position: fixed;   /* Keeps the nav fixed at the top */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0.3;
  padding: 0;
 
}

.nav-link {
  color: #05e905;
  text-decoration: none;
  padding: 8px;
  margin-right: 1rem;
  font-size: x-large;
 font-family: 'Times New Roman', Times, serif;
}




.nav-link:hover {
  background-color: #f8f8f8;
  transition: background-color 1s ease;
  border-radius: 1cm;

}


.log-in{
  list-style: none;
  display: flex;
  margin: 0.3;

  margin-left: 65%;
  padding: 0;
  color: aquamar

}
  .login-button,
.signup-button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease;
}

.login-button {
  background-color: transparent;
  color: white;
  border: 1px solid #000000;
  color: #000000;
  margin: 2;
}

.signup-button {
  background-color: #000000;
  color: white;
  border: none;
}

.login-button:hover,
.signup-button:hover {
  opacity: 0.9;
  transform: scale(1.02);
}

.log-in-link{
background-color: blanchedalmond;
}


/* top nav section end */


